/* fonts to be used


    /* font-family: 'Concert One', cursive;

    font-family: 'Oswald', sans-serif; 
    font-family: 'Arvo', serif;*/

html {
  font-size: 125%;
}

body {
  margin: 0 auto;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: #000;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}

/* header styles */

.wrapper {
  /* margin: 0 auto;
  width: 1350px;
  max-width: 95%; */
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}

h1,
h2 {
  font-family: "Concert One", cursive;
}

h1 {
  font-size: 4rem;
  padding: 20px 10px;
  color: #000;
}

h2 {
  padding: 20px 10px;
  font-size: 2.5rem;
  color: #ff5958;
}

/* h3 {
  padding: 10px 10px;
  font-size: 2rem;
} */

p {
  font-size: 2.5rem;
  padding: 20px 20px;
  color: cadetblue;
}

header {
  background-color: #fff;
  height: 50vh;
  /* display: flex; */
  color: #fff;
}

header h1 {
  margin: 0 auto;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

main {
  margin: 0 auto;
}

.sectionOne {
  background-color: #fff;
}

.sectionTwo {
  background-color: #fff;
}

.quizContainer {
  padding: 20px 10px;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
  min-height: 30vh;
}
.quizContainer a {
  -webkit-transition: color 0.15s ease-out;
  -moz-transition: color 0.15s ease-out;
  -o-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  display: block;
  padding: 40px 40px;
  text-decoration: none;
  color: #000;
}

.quizContainer a:hover {
  color: #ff5958;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 20px 20px;
}

.submit-container {
  padding: 100px;
  text-align: center;
}

button {
  -webkit-transition: background-color 0.15s ease-out;
  -moz-transition: background-color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out;
  transition: background-color 0.15s ease-out;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-family: "arvo", sans-serif;
}

button:hover,
button:focus {
  background-color: #ff5958;
}

.scoreContainer,
.generation {
  text-align: center;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: grey;
  text-align: center;
}

footer p {
  font-family: "Arvo", serif;
  padding: 15px 0px;
  text-align: center;
  font-size: 1rem;
}

footer div {
  display: flex;
  justify-content: space-around;
}
