/* header styles */

.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 4rem;
  padding: 10px 10px;
  color: floralwhite;
  text-align: center;
}

h2 {
  padding-top: 30px;
  line-height: 3rem;
  font-size: 3rem;
  color: rgba(16, 38, 125, 0.9);
  text-align: center;
}

header {
  background-color: #fff;
  height: 40vh;
  background: url(../../assets/armin-hosseini-_JLDuhrvU3Q-unsplash.jpg) 50%
    no-repeat;
  display: block;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header h1 {
  margin: 0 auto;
  text-transform: uppercase;
  border-bottom: 2px solid floralwhite;
}
