/* header styles */

.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Bungee Shade", cursive;
  color: floralwhite;
  font-size: 4rem;
  padding: 30px 10px;
  text-align: center;
}

h2 {
  color: floralwhite;
  padding-top: 30px;
  line-height: 3rem;
  font-size: 3rem;
  text-align: center;
}

header {
  background-color: #fff;
  height: 50vh;
  background: url(../../assets/sean-sinclair-k0JNJRbrJAs-unsplash.jpg) 50%
    no-repeat;
  display: block;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header h1 {
  margin: 0 auto;
  text-transform: uppercase;
  border-bottom: 5px solid floralwhite;
}
