//  media queries - 1274px
@media (max-width: 1274px) {
  ul {
    display: flex;
  }
  li {
    padding: 10px 15px;
  }
}

//  media queries - 1230px

@media (max-width: 1230px) {
  li {
    padding: 10px 10px;
  }
}

//  media queries - 1180px

@media (max-width: 1180px) {
  h1 {
    font-size: 3rem;
  }
}

//  media queries - 930px

@media (max-width: 930px) {
  h1 {
    font-size: 2.5rem;
  }
  h2,
  p {
    font-size: 2rem;
    text-align: center;
  }

  ul {
    flex-direction: column;
  }
  .quizContainer {
    a {
      font-size: 1.3rem;
    }
  }

  button {
    font-size: 1.8rem;
    background-color: palevioletred;
    color: #000;
  }
}

//  media queries - 780px

@media (max-width: 780px) {
  header {
    height: 50vh;
  }
  .flexContainer {
    padding: 10px;
  }
  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.6rem;
    text-align: center;
  }
  button {
    font-size: 1.6rem;
    background-color: palevioletred;
    color: #000;
  }

  .imageContainer {
    padding: 20px 0 25px 0;
  }

  .generation p {
    padding-bottom: 10px;
    font-size: 1.5rem;
  }

  .sectionTwo {
    height: 30vh;
  }
}

//  media queries - 560px

@media (max-width: 560px) {
  header {
    height: 50vh;
  }
  h1 {
    font-size: 1.3rem;
    padding: 20px 0 0 0;
  }

  h2 {
    font-size: 1.4rem;
    padding: 20px 0 0 0;
    text-align: center;
  }

  button {
    font-size: 1.8rem;
    background-color: palevioletred;
    color: #000;
  }

  .generation p {
    padding-bottom: 10px;
    font-size: 1.5rem;
  }

  .sectionTwo {
    height: 30vh;
  }

  .quiz p {
    font-size: 1.3rem;
  }
}

// media queries - 380px
@media (max-width: 380px) {
  header {
    height: 50vh;
  }
  h1 {
    font-size: 1.1rem;
    padding: 30px 0 0 0;
  }

  h2 {
    font-size: 1.1rem;
    padding: 20px 0 0 0;
    text-align: center;
  }

  button {
    font-size: 1.4rem;
    background-color: palevioletred;
    padding: 10px 10px;
  }

  .quizContainer {
    height: 30vh;
  }

  .generation p {
    padding-bottom: 10px;
    font-size: 1.9rem;
  }

  .sectionTwo {
    height: 30vh;
  }
}

// media queries - 320px
@media (max-width: 320px) {
  header {
    height: 50vh;
  }
  h1 {
    font-size: 1rem;
    padding: 30px 0 0 0;
  }

  h2 {
    font-size: 1rem;
    padding: 20px 0 10px 0;
    text-align: center;
  }
  .quiz p {
    font-size: 1.3rem;
  }
  button {
    font-size: 1.4rem;
    background-color: palevioletred;
    padding: 10px 5px;
  }

  .quizContainer {
    height: 30vh;
  }

  .generation p {
    padding-bottom: 10px;
    font-size: 1.7rem;
  }

  .imageContainer {
    padding: 20px 0 25px 0;
  }
}
