/* set up snippet start */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* set up snippet finish */
/* body styles */
html {
  font-size: 125%;
}

body {
  margin: 0 auto;
  font-family: "Concert One", sans-serif;
  font-size: 1.5rem;
  color: #000;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

p {
  font-size: 2.5rem;
  padding: 0;
  color: cadetblue;
}

main {
  margin: 0 auto;
}

.sectionOne,
.sectionTwo {
  background-color: #fff;
}

/* header styles */
.wrapper {
  max-width: 1250px;
  width: 85%;
  margin: 0 auto;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 4rem;
  padding: 10px 10px;
  color: floralwhite;
  text-align: center;
}

h2 {
  padding-top: 30px;
  line-height: 3rem;
  font-size: 3rem;
  color: rgba(16, 38, 125, 0.9);
  text-align: center;
}

header {
  background-color: #fff;
  height: 40vh;
  background: url(../../assets/armin-hosseini-_JLDuhrvU3Q-unsplash.jpg) 50% no-repeat;
  display: block;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header h1 {
  margin: 0 auto;
  text-transform: uppercase;
  border-bottom: 2px solid floralwhite;
}

/* quiz styles */
.quizContainer {
  padding: 20px 10px;
  text-align: center;
  min-height: 30vh;
}

.quizContainer a {
  -webkit-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;
  display: block;
  padding-top: 20px;
  text-decoration: none;
  color: #000;
}

.quizContainer a .imageContainer {
  padding-top: 15px;
}

.quizContainer a:hover,
.quizContainer a:focus {
  color: palevioletred;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  padding: 10px 20px;
}

/* score styles */
.scoreContainer,
.refreshButton {
  /* padding: 0px; */
  text-align: center;
}

button {
  -webkit-transition: background-color 0.15s ease-out;
  transition: background-color 0.15s ease-out;
  background-color: #fff;
  color: #000;
  padding: 20px 20px;
  border: none;
  border-radius: 5px;
  font-family: "Concert One", sans-serif;
  font-size: 3.5rem;
}

button:hover,
button:focus {
  background-color: palevioletred;
}

.scoreContainer,
.generation {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.generation p {
  text-align: center;
  color: palevioletred;
  font-size: 3.5rem;
}

@media (max-width: 1274px) {
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  li {
    padding: 10px 15px;
  }
}

@media (max-width: 1230px) {
  li {
    padding: 10px 10px;
  }
}

@media (max-width: 930px) {
  h1 {
    font-size: 2.5rem;
  }
  h2,
  p {
    font-size: 2rem;
    text-align: center;
  }
  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quizContainer a {
    font-size: 1.3rem;
  }
  button {
    font-size: 1.8rem;
    background-color: palevioletred;
    color: #000;
  }
}

@media (max-width: 780px) {
  header {
    height: 50vh;
  }
  .flexContainer {
    padding: 10px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  button {
    font-size: 1.8rem;
    background-color: palevioletred;
    color: #000;
  }
  .imageContainer {
    padding: 20px 0 25px 0;
  }
  generation p {
    padding-bottom: 10px;
    font-size: 1.5rem;
  }
}

@media (max-width: 560px) {
  header {
    height: 50vh;
  }
  h1 {
    font-size: 1.8rem;
    padding: 20px 0 0 0;
  }
  h2 {
    font-size: 1.8rem;
    padding: 40px 0 0 0;
    text-align: center;
  }
  button {
    font-size: 1.8rem;
    background-color: palevioletred;
    color: #000;
  }
  generation p {
    padding-bottom: 10px;
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  header {
    height: 50vh;
  }
  h1 {
    font-size: 1.6rem;
    padding: 30px 0 0 0;
  }
  h2 {
    font-size: 1.3rem;
    padding: 60px 0 0px 0;
    text-align: center;
  }
  button {
    font-size: 1.8rem;
    background-color: palevioletred;
    padding: 10px 10px;
  }
  .quizContainer {
    height: 30vh;
  }
  .generation p {
    padding-bottom: 10px;
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  header {
    height: 50vh;
  }
  h1 {
    font-size: 1.5rem;
    padding: 30px 0 0 0;
  }
  h2 {
    font-size: 1.4rem;
    padding: 40px 0 10px 0;
    text-align: center;
  }
  .quiz p {
    font-size: 1.3rem;
  }
  button {
    font-size: 1.5rem;
    background-color: palevioletred;
    padding: 10px 5px;
  }
  .quizContainer {
    height: 30vh;
  }
  .generation p {
    padding-bottom: 10px;
    font-size: 1.5rem;
    border: 2px solid #000;
  }
  .imageContainer {
    padding: 20px 0 25px 0;
  }
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  color: grey;
  text-align: center;
}

footer p {
  font-family: "Concert One", sans-serif;
  padding: 5px 0px;
  text-align: center;
  font-size: 0.89rem;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */